@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
   
    .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
}
.service-box img {
    width: 100%;
}
.service-box {
    min-width: 100%;
    width: 100%;
  }

  .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
  }

  .service-box img {
    width: 100%;
  }

  .service-box {
    min-width: 100%;
    width: 100%;
  }
  .icon-symbel {
    position: absolute;
    top: 39%;
    left: 40%;
    background: white;
    height: 38px;
    width: 42px;
    text-align: center;
    border-radius: 90px;
    padding: 4px;
}
i.fa.fa-envelope.icon {
    display: none;
}
i.fa.fa-envelope.icon {
    display: none;
}
.input-container i,
  .fa-envelope,
  .icon {
    display: none !important;
  }



   
    
}
@media screen and (min-width:321px) and (max-width:482px){
   
    
}