@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
   



   
    
}
@media screen and (min-width:321px) and (max-width:482px){
   
    
}