@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
   
    .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
}
.service-box img {
    width: 100%;
}
.service-box {
    min-width: 100%;
    width: 100%;
  }

  .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
  }

  .service-box img {
    width: 100%;
  }

  .service-box {
    min-width: 100%;
    width: 100%;
  }
  .icon-symbel {
    position: absolute;
    top: 39%;
    left: 40%;
    background: white;
    height: 38px;
    width: 42px;
    text-align: center;
    border-radius: 90px;
    padding: 4px;
}
.input-container i, .fa-envelope, .icon {
    display: block;
}

.input-container i, .fa-envelope, .icon {
    display: block;
}
.types-cnt-1 {
    position: absolute;
    top: 36%;
    left: 36%;
}
.types-cnt-2 {
    position: absolute;
    top: 36%;
    left: 36%;
}
.types-cnt {
    top: 36%;
    position: absolute;
    left: 36%;
    color: white;
    text-align: center;
}
.advance-cnt {
    margin-top: 30px;
}
   
    
}

.icon-symbel {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -25px auto 10px; /* ഇമേജിന് മുകളിലേക്ക് കയറ്റി വെക്കാൻ */
    position: relative;
    top: 0%;
    left: 0%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 2px solid #55e5d1; /* പച്ച ബോർഡർ */
}

.left-btn {
    left: -25px;
  }

  .right-btn {
    right: -25px;
  }

  .service-box {
    min-width: 100%;
  }
  .second-row {
    color: #ffffff;
    padding: 1px;
}
.third-row {
    padding: 20px 0px;
}
.subscribe {
    padding: 20px 0px;
}
.cnts-icons span {
    color: white;
    font-size: 14px;
}
ul.menue {
    display: none;
}
a.cnt-bt {
    display: none;
}

@media screen and (min-width:321px) and (max-width:482px){
   
    
}