@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
   
    .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
}
.service-box img {
    width: 100%;
}
.service-box {
    min-width: 100%;
    width: 100%;
  }

  .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
  }

  .service-box img {
    width: 100%;
  }

  .service-box {
    min-width: 100%;
    width: 100%;
  }
  .icon-symbel {
    position: absolute;
    top: 39%;
    left: 40%;
    background: white;
    height: 38px;
    width: 42px;
    text-align: center;
    border-radius: 90px;
    padding: 4px;
}
.input-container i, .fa-envelope, .icon {
    display: block;
}

.input-container i, .fa-envelope, .icon {
    display: block;
}
.types-cnt-1 {
    color: white;
    text-align: center;
    margin-left: 40px;
    margin-top: 13px;
}
.types-cnt-2 {
    color: white;
    text-align: center;
    margin-left: 40px;
    margin-top: 13px;
}
.types-cnt-3 {
    color: white;
    text-align: center;
    margin-left: 40px;
    margin-top: 13px;
}



   
    
}
@media screen and (min-width:321px) and (max-width:482px){
   
    
}