@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
   
    .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
}
.service-box img {
    width: 100%;
}
.service-box {
    min-width: 100%;
}
.service-box {
    min-width: 100%;
}



   
    
}
@media screen and (min-width:321px) and (max-width:482px){
   
    
}