@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
   
    .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
}
.service-box img {
    width: 100%;
}
.service-box {
    min-width: 100%;
    width: 100%;
  }

  .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
  }

  .service-box img {
    width: 100%;
  }

  .service-box {
    min-width: 100%;
    width: 100%;
  }
  .icon-symbel {
    position: absolute;
    top: 39%;
    left: 40%;
    background: white;
    height: 38px;
    width: 42px;
    text-align: center;
    border-radius: 90px;
    padding: 4px;
}
.input-container i, .fa-envelope, .icon {
    display: block;
}

.input-container i, .fa-envelope, .icon {
    display: block;
}
.types-cnt-1 {
    position: absolute;
    top: 36%;
    left: 36%;
}
.types-cnt-2 {
    position: absolute;
    top: 36%;
    left: 36%;
}
.types-cnt {
    top: 36%;
    position: absolute;
    left: 36%;
    color: white;
    text-align: center;
}
.advance-cnt {
    margin-top: 30px;
}
   
    
}
@media (max-width: 768px) {
    .hamburger { display: block; z-index: 1001; }
    
    .contact-bt { display: none; } /* മെയിൻ കോൺടാക്റ്റ് ബട്ടൺ ഹൈഡ് ചെയ്യുക */
    .mobile-only { display: block; margin-top: 20px; }

    .menue {
        position: fixed;
        right: -100%; /* തുടക്കത്തിൽ മെനു വലതുവശത്ത് ഒളിച്ചു നിൽക്കും */
        top: 0;
        flex-direction: column;
        background: #fff;
        width: 70%; /* മെനുവിന്റെ വീതി */
        height: 100vh;
        justify-content: center;
        align-items: center;
        box-shadow: -5px 0 15px rgba(0,0,0,0.1);
        transition: 0.5s ease;
        z-index: 1000;
    }

    .menue.active {
        right: 0; /* ക്ലിക്ക് ചെയ്യുമ്പോൾ മെനു വരും */
    }
    .hamburger.is-active .bar:nth-child(2) { opacity: 0; }
    .hamburger.is-active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .hamburger.is-active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }
}
@media screen and (min-width:321px) and (max-width:482px){
   
    
}