@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
   
    .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
}
.service-box img {
    width: 100%;
}
.service-box {
    min-width: 100%;
    width: 100%;
  }

  .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
  }

  .service-box img {
    width: 100%;
  }

  .service-box {
    min-width: 100%;
    width: 100%;
  }
  .icon-symbel {
    position: absolute;
    top: 39%;
    left: 40%;
    background: white;
    height: 38px;
    width: 42px;
    text-align: center;
    border-radius: 90px;
    padding: 4px;
}
.input-container i, .fa-envelope, .icon {
    display: block;
}

.input-container i, .fa-envelope, .icon {
    display: block;
}
.types-cnt-1 {
    position: absolute;
    top: 36%;
    left: 36%;
}
.types-cnt-2 {
    position: absolute;
    top: 36%;
    left: 36%;
}
.types-cnt {
    top: 36%;
    position: absolute;
    left: 36%;
    color: white;
    text-align: center;
}
.advance-cnt {
    margin-top: 30px;
}
.contact-bt {
    display: none;
}
ul.menue {
    display: none;
}
 .hero {
    height: auto;
  }

  .hero img {
    width: 100%;
    height: 280px;   /* ആവശ്യമെങ്കിൽ change ചെയ്യാം */
    object-fit: cover;
  }
  .hero h1 {
    font-size: 24px;   /* mobile heading */
    line-height: 1.3;
  }

  .hero p {
    font-size: 14px;   /* paragraph */
  }
 
    
}

.icon-symbel {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -25px auto 10px; /* ഇമേജിന് മുകളിലേക്ക് കയറ്റി വെക്കാൻ */
    position: relative;
    top: 0%;
    left: 0%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 2px solid #55e5d1; /* പച്ച ബോർഡർ */
}

.left-btn {
    left: -25px;
  }

  .right-btn {
    right: -25px;
  }

 


/* .hero-cnt {
    position: absolute;
    top: 20%;
    left: 17%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-cnt p {
    color: white;
    font-size: 14px;
}
.hero {
    position: relative;
    margin-bottom: 80px;
    margin-top: 25px;
} */


@media screen and (min-width:321px) and (max-width:482px){
    .right-btn {
    right: -1px;
}
.left-btn {
    left: -1px;
}
.logo {
    padding: 8px;
}

  
   
    
}