@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
   
    .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
}
.service-box img {
    width: 100%;
}
.service-box {
    min-width: 100%;
    width: 100%;
  }

  .focus-cnt {
    background: #F8F8F8;
    padding: 31px 34px;
    margin-top: 40px;
  }

  .service-box img {
    width: 100%;
  }

  .service-box {
    min-width: 100%;
    width: 100%;
  }
  .icon-symbel {
    position: absolute;
    top: 39%;
    left: 40%;
    background: white;
    height: 38px;
    width: 42px;
    text-align: center;
    border-radius: 90px;
    padding: 4px;
}
.input-container i, .fa-envelope, .icon {
    display: block;
}

.input-container i, .fa-envelope, .icon {
    display: block;
}
.types-cnt-1 {
    position: absolute;
    top: 36%;
    left: 36%;
}
.types-cnt-2 {
    position: absolute;
    top: 36%;
    left: 36%;
}
.types-cnt {
    top: 36%;
    position: absolute;
    left: 36%;
    color: white;
    text-align: center;
}
.advance-cnt {
    margin-top: 30px;
}
.contact-bt {
    display: none;
}

 .hero {
    height: auto;
  }

  .hero img {
    width: 100%;
    height: 280px;   /* ആവശ്യമെങ്കിൽ change ചെയ്യാം */
    object-fit: cover;
  }
  .hero h1 {
    font-size: 24px;   /* mobile heading */
    line-height: 1.3;
  }

  .hero p {
    font-size: 14px;   /* paragraph */
  }
  a.free-bt {
    color: white;
    background: #00A59E;
    padding: 8px 18px;
    border-radius: 3px;
    box-shadow: inset -1px 1px 10px 0px #e5e5e5;
}
a.service-bt {
    padding: 8px 18px;
    background: #ffffff;
    color: black;
    box-shadow: inset -1px -1px 7px 0px black;
}
h1 {
    color: white;
    font-size: 24px;
}
.hero-cnt p {
    color: white;
    font-size: 14px;
}
.hero-cnt {
    position: absolute;
    top: 12%;
    left: 7%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
 .hamburger {
    display: flex;
  }

  .nav {
    position: fixed;
    top: 70px;
    right: -100%;
    flex-direction: column;
    background: white;
    width: 260px;
    height: 100vh;
    padding: 40px 20px;
    transition: 0.4s ease;
  }

  .nav.active {
    right: 0;
  }
   /* show hamburger */
  .hamburger {
    display: flex;
  }

  /* hide desktop menu */
  ul.menue {
    position: fixed;
    top: 90px;
    right: -100%;
    width: 260px;
    height: 100vh;
    background: white;

    flex-direction: column;
    gap: 25px;

    padding: 40px 25px;
    transition: 0.4s ease;
    z-index: 999;
  }

  /* when toggle clicked */
  ul.menue.active {
    right: 0;
  }

  /* hide contact button in mobile */
  .contact-bt {
    display: none;
  }
  ul.menue {
    position: fixed;
    top: 61px;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    flex-direction: column;
    gap: 25px;
    padding: 40px 25px;
    transition: 0.4s ease;
    z-index: 999;
    text-align: center;
}
.advance-pic img {
    width: 100%;
}
.advance-pic img{
    width: 100%;
}
.cnts-icons span {
    color: white;
    font-size: 12px;
}
.hero img {
    width: 100%;
    height: 305px;
    object-fit: cover;
}
}



 
    


.icon-symbel {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -25px auto 10px; /* ഇമേജിന് മുകളിലേക്ക് കയറ്റി വെക്കാൻ */
    position: relative;
    top: 0%;
    left: 0%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 2px solid #55e5d1; /* പച്ച ബോർഡർ */
}

.left-btn {
    left: -25px;
  }

  .right-btn {
    right: -25px;
  }

 


/* .hero-cnt {
    position: absolute;
    top: 20%;
    left: 17%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-cnt p {
    color: white;
    font-size: 14px;
}
.hero {
    position: relative;
    margin-bottom: 80px;
    margin-top: 25px;
} */


@media screen and (min-width:321px) and (max-width:482px){
    .right-btn {
    right: -1px;
}
.left-btn {
    left: -1px;
}
.advance-cnt {
    margin-top: 30px;
    padding: 5px 18px;
}
.first-row {
    padding: 43px 20px;
}
.second-row {
    color: #ffffff;
    padding: 0px 23px;
}
.third-row {
    padding: 12px 23px;
}
.subscribe {
    padding: 20px 23px;
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 0px;
}
a.free-bt {
    color: white;
    background: #00A59E;
    padding: 8px 9px;
    border-radius: 3px;
    box-shadow: inset -1px 1px 10px 0px #e5e5e5;
    font-size: 14px;
}
a.service-bt {
    padding: 8px 9px;
    background: #ffffff;
    color: black;
    box-shadow: inset -1px -1px 7px 0px black;
    font-size: 14px;
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 3px;
    /* margin-left: 0px; */
}
.hero {
    height: auto;
    margin-bottom: 50px;
}

  
   
    
}