*{
  box-sizing: border-box;

}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* ///////////// */

.header-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.menue {
    display: flex;
    gap: 30px;
    list-style: none;
    padding-top: 30px;
}
a{
  text-decoration: none;
}
a.home {
    color: #040404;
}
a.cnt-bt {
    background: #00A59E;
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    box-shadow: inset -1px 2px 6px 0px #514f4f;
}


/* hero//// */
.hero {
    position: relative;
}
.hero-cnt {
    position: absolute;
    top: 20%;
    left: 10%;
}
h1 {
    color: white;
}
.hero-cnt p {
    color: white;
    font-size: 18px;
}