*{
  box-sizing: border-box;

}



.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* ///////////// */

.header-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.menue {
    display: flex;
    gap: 30px;
    list-style: none;
    padding-top: 30px;
}
a{
  text-decoration: none;
}
a.home {
    color: #040404;
}
a.cnt-bt {
    background: #00A59E;
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    box-shadow: inset -1px 2px 6px 0px #514f4f;
}


/* hero//// */
.hero {
    position: relative;
    margin-bottom: 80px;
}
.hero-cnt {
    position: absolute;
    top: 20%;
    left: 6%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h1 {
    color: white;
}
.hero-cnt p {
    color: white;
    font-size: 18px;
}
.hero-btns {
    display: flex;
    gap: 27px;
}
a.free-bt {
    color: white;
    background: #00A59E;
    padding: 8px 22px;
    border-radius: 3px;
    box-shadow: inset -1px 1px 10px 0px #e5e5e5;
}
a.service-bt {
    padding: 8px 22px;
    background: #ffffff;
    color: black;
    box-shadow: inset -1px -1px 7px 0px black;
}

.dote {
    border-radius: 52px;
    background: black;
    width: 12px;
    height: 12px;
}

.points {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dote span{
    color: #2A2626;
}
a.meet {
    background: #00A59E;
    color: #ffffff;
    padding: 7px 19px;
    box-shadow: inset 1px 0px 4px 0px #5f5d5d;
    border-radius: 3px;
}
.focus-cnt {
    background: #F8F8F8;
    padding: 47px 33px;
}
.main-point {
    padding-bottom: 23px;
}

.features {
    text-align: center;
}
.box {
    display: flex;
    gap: 28px;
   
}
.icon-symbel {
    position: absolute;
    top: 33%;
    left: 40%;
    background: white;
    height: 38px;
    width: 42px;
    text-align: center;
    border-radius: 90px;
    padding: 4px;
}
.service-box {
    position: relative;
}
.service-box {
    position: relative;
    background: #F4F4F4;
    border-radius: 15px;
}
.service-cnt {
    padding: 25px 25px;
}
a.view {
    display: flex;
    justify-content: center;
    color: #00A59E;
    text-decoration: underline;
}